---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: jellyfin
spec:
  chartRef:
    kind: OCIRepository
    name: jellyfin
  interval: 1h
  values:
    controllers:
      jellyfin:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: jellyfin/jellyfin
              tag: latest
            env:
              JELLYFIN_PublishedServerUrl: https://jellyfin.${SECRET_DOMAIN}
            ports:
              - name: http
                containerPort: 8096
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 100m
                memory: 512Mi
              limits:
                memory: 4Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
    service:
      app:
        ports:
          http:
            port: 8096
    route:
      app:
        hostnames: ["jellyfin.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: 8096
    persistence:
      config:
        type: nfs
        server: 192.168.1.196
        path: /var/nfs/shared/appdata/jellyfin
        globalMounts:
          - path: /config
      cache:
        type: emptyDir
        globalMounts:
          - path: /cache
      media:
        type: nfs
        server: 192.168.1.196
        path: /var/nfs/shared/media
        globalMounts:
          - path: /media
            readOnly: true
