---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: homarr
spec:
  chartRef:
    kind: OCIRepository
    name: homarr
  interval: 1h
  values:
    controllers:
      homarr:
        strategy: RollingUpdate
        serviceAccount:
          name: homarr
        initContainers:
          init-permissions:
            image:
              repository: busybox
              tag: latest
            command: ["sh", "-c", "chown -R 1000:1000 /appdata"]
            securityContext:
              runAsNonRoot: false
              runAsUser: 0
        containers:
          app:
            image:
              repository: ghcr.io/homarr-labs/homarr
              tag: latest
            env:
              SECRET_ENCRYPTION_KEY: 20db5a15e8f612c4e3a163443295564c4f6863a309259cb9ffa162fc1593b731
              TZ: America/New_York
            ports:
              - name: http
                containerPort: 7575
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 256Mi
              limits:
                memory: 2Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
    service:
      app:
        ports:
          http:
            port: 7575
    route:
      app:
        hostnames: ["home.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: 7575
    persistence:
      appdata:
        type: hostPath
        hostPath: /var/mnt/appdata/homarr
        globalMounts:
          - path: /appdata
