---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: homarr
---
apiVersion: v1
kind: Secret
type: kubernetes.io/service-account-token
metadata:
  name: homarr
  annotations:
    kubernetes.io/service-account.name: homarr
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: homarr
rules:
  - apiGroups: [""]
    resources: [namespaces, pods, nodes]
    verbs: [get, list]
  - apiGroups: [extensions, networking.k8s.io]
    resources: [ingresses]
    verbs: [get, list]
  - apiGroups: [gateway.networking.k8s.io]
    resources: [httproutes, gateways]
    verbs: [get, list]
  - apiGroups: [metrics.k8s.io]
    resources: [nodes, pods]
    verbs: [get, list]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: homarr
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: homarr
subjects:
  - kind: ServiceAccount
    name: homarr
    namespace: default
