---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: loki
spec:
  chartRef:
    kind: OCIRepository
    name: loki
  interval: 1h
  values:
    deploymentMode: SingleBinary
    loki:
      auth_enabled: false
      commonConfig:
        replication_factor: 1
        path_prefix: /tmp/loki
      storage:
        type: filesystem
        filesystem:
          chunks_directory: /tmp/loki/chunks
          rules_directory: /tmp/loki/rules
      schemaConfig:
        configs:
          - from: "2024-01-01"
            store: tsdb
            object_store: filesystem
            schema: v13
            index:
              prefix: loki_index_
              period: 24h
      rulerConfig:
        storage:
          type: local
          local:
            directory: /tmp/loki/rules
        wal:
          dir: /tmp/loki/ruler-wal
    singleBinary:
      replicas: 1
      persistence:
        enabled: false
      resources:
        requests:
          cpu: 50m
          memory: 256Mi
        limits:
          memory: 2Gi
    chunksCache:
      enabled: false
    resultsCache:
      enabled: false
    backend:
      replicas: 0
    read:
      replicas: 0
    write:
      replicas: 0
    gateway:
      enabled: false
