---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: homepage
spec:
  chartRef:
    kind: OCIRepository
    name: homepage
  interval: 1h
  values:
    controllers:
      homepage:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: ghcr.io/gethomepage/homepage
              tag: latest
            env:
              HOMEPAGE_ALLOWED_HOSTS: "home.${SECRET_DOMAIN}"
            ports:
              - name: http
                containerPort: 3000
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 512Mi
    defaultPodOptions:
      serviceAccountName: homepage
      automountServiceAccountToken: true
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
    service:
      app:
        ports:
          http:
            port: 3000
    route:
      app:
        hostnames: ["home.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: 3000
    persistence:
      config:
        type: configMap
        name: homepage
        globalMounts:
          - subPath: kubernetes.yaml
            path: /app/config/kubernetes.yaml
          - subPath: settings.yaml
            path: /app/config/settings.yaml
          - subPath: services.yaml
            path: /app/config/services.yaml
          - subPath: widgets.yaml
            path: /app/config/widgets.yaml
          - subPath: bookmarks.yaml
            path: /app/config/bookmarks.yaml
          - subPath: docker.yaml
            path: /app/config/docker.yaml
          - subPath: custom.css
            path: /app/config/custom.css
          - subPath: custom.js
            path: /app/config/custom.js
      logs:
        type: emptyDir
        globalMounts:
          - path: /app/config/logs
